Repository franktrue/fupanhezi-admin: changes, and which Drone steps are due for each by the changed paths.
All: backend, frontend

backend:
  steps:
  - name: docker
    image: plugins/docker
    volumes:
    - name: docker
      path: /var/run/docker.sock
    settings:
      repo: ccr.ccs.tencentyun.com/franktrue/fupanhezi-admin-api
      registry: ccr.ccs.tencentyun.com
      password:
        from_secret: tencent_tcr_password
      username:
  ...

frontend:
  steps:
  - name: publish-web
    image: plugins/docker
    volumes:
    - name: docker
      path: /var/run/docker.sock
    settings:
      repo: ccr.ccs.tencentyun.com/franktrue/fupanhezi-admin-web
      registry: ccr.ccs.tencentyun.com
      password:
        from_secret: tencent_tcr_password
      username:
  ...

优化部署脚本 [CI SKIP]
  .drone.yml
Due: none

优化部署脚本
  docker_env/celery/Dockerfile
  docker_env/django/Dockerfile
Due: none

缓存配置调试
  .drone.yml
  docker_env/celery/Dockerfile
  docker_env/django/Dockerfile
Due: none

缓存配置调试
  .drone.yml
Due: none

优化缓存部署配置
  docker_env/web/Dockerfile
Due: none

更新 'README.en.md'
  README.en.md
Due: none

优化部署脚本
  .drone.yml
  docker_env/celery/Dockerfile
  docker_env/django/Dockerfile
  docker_env/web/Dockerfile
  docker_env/web/DockerfileBuild
Due: none

优化部署脚本
  .drone.yml
Due: none

确定部署脚本
  .drone.yml
Due: none

优化部署脚本
  .drone.yml
  docker_env/.DS_Store
  docker_env/deploy/docker-compose.yml
  docker_env/deploy/nginx/my.conf
Due: none

优化分时接口
  backend/stock/urls.py
  backend/stock/views/fenshi.py
  backend/stock/views/history.py
Due: backend

个股面板信息
  backend/stock/services/info.py
  backend/stock/urls.py
  backend/stock/utils/date.py
  backend/stock/views/info.py
Due: backend

优化接口响应
  backend/stock/views/fenshi.py
  backend/stock/views/info.py
Due: backend

完善url
  backend/stock/views/fenshi.py
  backend/stock/views/info.py
Due: backend

完善url
  backend/stock/urls.py
Due: backend

优化url
  backend/stock/urls.py
  backend/stock/views/fenshi.py
  backend/stock/views/info.py
Due: backend

优化url
  backend/stock/views/fenshi.py
  backend/stock/views/info.py
Due: backend

优化url
  backend/stock/urls.py
Due: backend

修复lhb_parse不能为null
  backend/stock/services/lhb.py
Due: backend

添加竞价字段
  backend/stock/models.py
  backend/stock/services/history.py
  web/src/libs/util.js
  web/src/views/stock/histrory/api.js
  web/src/views/stock/histrory/crud.js
Due: backend, frontend

添加竞价字段
  backend/stock/services/history.py
Due: backend

添加异步更新竞价
  backend/stock/services/history.py
  backend/stock/tasks.py
  backend/stock/views/history.py
  web/src/views/stock/histrory/api.js
Due: backend, frontend

优化竞价爬虫
  backend/stock/services/history.py
Due: backend

优化分时及行情
  backend/stock/services/fenshi.py
  backend/stock/services/history.py
Due: backend

优化分时及行情
  backend/stock/services/history.py
Due: backend

优化分时
  backend/stock/services/fenshi.py
Due: backend

修复最低百分比问题
  backend/stock/services/history.py
Due: backend

优化缓存机制
  backend/application/settings.py
  backend/stock/services/trade_date.py
  backend/stock/tasks.py
  backend/stock/utils/cache.py
Due: backend

优化缓存
  backend/application/settings.py
  backend/stock/services/lhb.py
Due: backend

添加概念指数
  backend/stock/models.py
  backend/stock/services/board.py
  backend/stock/urls.py
  backend/stock/views/board_history.py
  web/src/views/stock/board/concept/crud.js
  web/src/views/stock/board/concept/index.vue
  web/src/views/stock/board/history/api.js
  web/src/views/stock/board/history/crud.js
  web/src/views/stock/board/history/index.vue
Due: backend, frontend

优化成分股更新
  backend/stock/services/board.py
  backend/stock/tasks.py
  backend/stock/views/board_concept.py
  web/src/views/stock/board/concept/index.vue
Due: backend, frontend

优化成分股更新
  backend/stock/services/trade_date.py
  backend/stock/tasks.py
Due: backend

Path conditions:
  backend: any of: backend/**
  frontend: any of: web/**
